@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --show-color-delay: 0.1s;
}

.black_btn {
  @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm flex items-center justify-center;
}

.lightgreen {
  @apply animate-wordle;
  --background: lightgreen;
}

.lightyellow {
  @apply animate-wordle;
  --background: lightyellow;
}

.lightgray {
  @apply animate-wordle;
  --background: lightgray;
}

#line > div:nth-child(2) {
  animation-delay: var(--show-color-delay);
}

#line > div:nth-child(3) {
  animation-delay: calc(var(--show-color-delay) + 0.1s);
}

#line > div:nth-child(4) {
  animation-delay: calc(var(--show-color-delay) + 0.2s);
}

#line > div:nth-child(5) {
  animation-delay: calc(var(--show-color-delay) + 0.3s);
}

@keyframes mouseDown {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(0.9);
  }
  66% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes wrongAnimation {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-8px);
  }
  66% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0);
  }
}
